<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
            <title>Tdd Blog - {{ title }}</title>
        {% else %}
            <title>Tdd blog</title>
        {% endif %}
    </head>
    <body>
        <header>
            <a href="{% url 'homepage' %}">Home</a>
            <a href="{% url 'signup_page' %}">Sign Up</a>
        </header>
        {% block content %}
        {% endblock %}
        <footer>
            &copy; TDD Blog <script>
            new Date().getFullYear()
        </script>
        </footer>
    </body>
</html>